@model IEnumerable<Rilke_Schule_Student_Management.Models.ApplicationUser>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>ApplicationUser</h4>
    @foreach (var item in Model)
    {
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayFor(modelItem => item.Email)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.FirstName)
            </dd>

            <dt>
                @Html.DisplayFor(modelItem => item.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.LastName)
            </dd>

        </dl>
    }
</div>
<p>
    @Html.ActionLink("EditTrip", "EditTrip") |
    @Html.ActionLink("Back to List", "FieldTripManager")
</p>
