
@{
    ViewBag.Title = "ViewTrip";
}

@model IEnumerable<Rilke_Schule_Student_Management.Models.Student>
@foreach (var item in Model)
{
    <tr>
        <td>
            <a class="btn btn-default" onclick="location.href='@Url.Action("ViewPermissionSlip", "FieldTrip")'">@Html.DisplayFor(modelItem => item.Student_Number)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stud_L_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stud_F_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Of_Birth)
        </td>
    </tr>
    <br />
}

<div class="row">
    <div class="col-md-4">
        <h2>For Testing</h2>
        <p> This is For Testing Stuff</p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("ViewPermissionSlip", "FieldTrip")'">For Testing  &raquo;</a></p>
    </div>
</div>
