@model IEnumerable<Rilke_Schule_Student_Management.Models.SignUp>

@{
    ViewBag.Title = "ViewAllTrips";
}

<h2>ViewAllTrips</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FieldTrip.Teacher_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Stud_F_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chaperone_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chaperone_Contact_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emergency_Contact_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emergency_Contact_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Signed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Printed_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FieldTrip.Teacher_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Stud_F_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chaperone_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chaperone_Contact_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emergency_Contact_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emergency_Contact_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Signed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Printed_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Sign_Up_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Sign_Up_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Sign_Up_Id })
        </td>
    </tr>
}

</table>
