@model IEnumerable<Rilke_Schule_Student_Management.Models.FieldTrip>

@{
    ViewBag.Title = "View Field Trips";
}

<h2>View Field Trips</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.Teacher_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmitByDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChapperoneArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChapperoneCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transportation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.Teacher_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitByDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChapperoneArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChapperoneCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transportation)
            </td>
            <td>
                @using (Html.BeginForm("ViewPermissionSlip", "FieldTrip", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="text" name="fieldTripId" class="hidden" value=@item.FieldTrip_Id>
                    <input type="text" name="studentId" class="hidden" value=@ViewBag.studentId>
                    <input type="submit" class="btn btn-default" value="View Field Trips" />

                }
            </td>
        </tr>
    }
}

</table>
