@model Rilke_Schule_Student_Management.ViewModels.StudentFormViewModel
@{
    ViewBag.Title = "Add Student";
    //Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>AddStudent</h2>
<form>
    <div class="form-group">
        @Html.LabelFor(m =>m.Student_First_Name)
        @Html.TextBoxFor(m=>m.Student_First_Name, new { @class ="form-control" })
        @Html.ValidationMessageFor(m => m.Student_Last_Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Student_Last_Name)
        @Html.TextBoxFor(m => m.Student_Last_Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Student_Last_Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date_Of_Birth)
        @Html.TextBoxFor(m => m.Date_Of_Birth, new { @class = "form-control", placeholder = "mm/dd/yyyy" })
        @Html.ValidationMessageFor(m => m.Date_Of_Birth)
    </div>
    <button type="submit" value="Add Student" class="btn btn-primary">Add Student</button>

</form>
