@model Rilke_Schule_Student_Management.Models.Student
@{
    ViewBag.Title = "Add Student";
    //Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>AddStudent</h2>
<form>
    <div class="form-group">
        @Html.LabelFor(m =>m.Stud_F_Name)
        @Html.TextBoxFor(m=>m.Stud_F_Name, new { @class ="form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Stud_L_Name)
        @Html.TextBoxFor(m => m.Stud_L_Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date_Of_Birth)
        @Html.TextBoxFor(m => m.Date_Of_Birth, new { @class = "form-control" })
    </div>
    <button type="submit" value="Add Student" class="btn btn-primary">Add Student</button>

</form>
